* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --moveX: 10deg;
  --moveY: 10deg;
}
.layers {
  perspective: 1000px;
  overflow: hidden;
}

.layers-container {
  height: 100vh;
  transform: rotateX(var(--moveY)) rotateY(var(--moveX));
  transform-style: preserve-3d;

  will-change: transform;
}

.layer-item {
  position: absolute;
  /* top: -5vw;
  bottom: -5vw;
  right: -5vw;
  left: -5vw; */
  inset: -5vw;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.item-1 {
  transform: translateZ(-100px) scale(1.1);
}
.item-2 {
  transform: translateZ(100px);
}
.item-3 {
  transform: translateZ(150px);
}
.item-4 {
  transform: translateZ(200px);
}
.item-5 {
  transform: translateZ(300px);
}
.item-6 {
  transform: translateZ(350px);
}

.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
}

.logo {
  width: 150px;
}
.btn-sound {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
